<%- include('./head'); %>
<%- include('./navbar'); %>

<div class="container">
	<h3>Board page</h3>
	<img src="https://cdn.pixabay.com/photo/2019/06/07/13/11/landscape-4258253_1280.jpg" class="img-fluid" alt="#">
</div>


<%- include('./footer'); %>