<%- include('./head'); %>

<%- include('./navbar'); %>

<div class="question">
	<div class="question-form">
		<h3>Question</h3>
		<br>
		<form>
		  <div class="form-group">
			<label for="exampleInputEmail1">Email address</label>
			<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
		  </div>
		  <div class="form-group">
			<label for="exampleInputPassword1">Password</label>
			<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
		  </div>
		  <div>
			<label for="exampleInputPassword1">content</label>
			<input type="text" class="form-control" id="exampleInputcontent1" placeholder="content">
		  </div>
		  <br>
		  <button type="submit" class="btn btn-dark">Submit</button>
		</form>	
	</div>
</div>


<%- include('./footer'); %>